{% extends 'MopaBootstrapSandboxBundle::base.html.twig' %}

{% block title %}Yourapp{% endblock %}

{#{% block navbar %}

    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true } %}
        {% block brand %}
            <a class="navbar-brand" href="#">Acme</a>
        {% endblock %}

        {% block menu %}

        {% endblock %}
    {% endembed %}
    {{ knp_menu_render('WolnikHomepageBundle:Builder:createMainMenu') }}

{% endblock navbar %}#}

{#{% block navbar %}#}
    {#{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true, id: 'navbar-example' } %}#}
        {#{% block brand %}#}
            {#<a class="navbar-brand" href="#">Mopa Bootstrap</a>#}
        {#{% endblock %}#}

        {#{% block menu %}#}
            {#{{ mopa_bootstrap_menu('WolnikHomepageBundle:Builder:createMainMenu') }}#}
            {#{{ mopa_bootstrap_menu('exampledropdown', {'automenu': 'navbar', 'pull-right': true}) }}#}
        {#{% endblock %}#}
    {#{% endembed %}#}
{#{% endblock navbar %}#}
{# and define more blocks ... #}